@using MyStockControl.Entities.Domain
@model List<Product>

@{
    ViewData["Title"] = "GetProductList";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h1>Ürünler</h1>
<div>
    <a href="/Product/AddNewProduct/" class=" btn btn-primary" style="float:right;margin-bottom:10px;">Yeni Ürün Ekle</a>
    <table class="table table-hover" id="ProductTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün Adı</th>
                <th>Kategori ID</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.CategoryId</td>
                    <td>@product.Price TL</td>
                    <td>@product.Stock</td>
                    <td>
                        <a href="/Product/UpdateProductPage/@product.ProductId" class="btn btn-success">Güncelle</a>
                        <a href="/Product/DeleteProduct/@product.ProductId" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
  
</div>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $('#ProductTable').DataTable(
        {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        }
    );
</script>

