@model MyStockControl.Entities.Domain.Customer
@{
    ViewData["Title"] = "UpdateCustomerPage";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<h1>UpdateCustomerPage</h1>

@using (Html.BeginForm("UpdateCustomer","Customer",FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(c=>c.CustomerId)
        @Html.HiddenFor(c=>c.CustomerId,new{@class="form-control"})
      

        @Html.LabelFor(c=>c.FirstName)
        @Html.TextBoxFor(c=>c.FirstName,new{@class="form-control"})

        @Html.LabelFor(c=>c.LastName)
        @Html.TextBoxFor(c=>c.LastName,new{@class="form-control"})

    </div>
    <div>
        <button class="btn btn-success" type="submit">Güncelle</button>
    </div>
}